* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--lightBeige: #fff7f0;
	--blue: #0568fd;
	--purple: #6c64ce;
	--lightPurple: #b8b2f2;
	--turquoise: #38b3d1;
	--pink: #f290e8;
	--lightPink: #fac8f5;
	--black: #000000;
	--white: #ffffff;
}

ticker {
	font-size: 68px;
	color: #ffffff;
}

ticker p {
	padding-top: 20px;
}

.accordion-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 158px;
	background-color: var(--lightPurple);
	padding-left: 40px;
	font-size: 78px;
	font-weight: 100;
	border: 2px solid black;
}

.accordion-body {
	display: flex;
	justify-content: space-between;
	height: 500px;
	background-color: var(--lightBeige);
	padding: 40px 0 40px 40px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 80px;
}

.accordion-container img {
	height: 300px;
	width: 300px;
	padding: 20px;
}

.fa-arrow-down {
	padding-right: 40px;
}
