* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--lightBeige: #fff7f0;
	--blue: #0568fd;
	--purple: #6c64ce;
	--lightPurple: #b8b2f2;
	--turquoise: #38b3d1;
	--pink: #f290e8;
	--lightPink: #fac8f5;
	--black: #000000;
	--white: #ffffff;
}

nav {
	width: 100%;
	height: 150px;
	position: fixed;
	top: 0;
	transition: 0.3s;
}

.hamburger {
	font-size: 32px;
	position: fixed;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

#icon-after {
	display: none;
}

.menu {
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: black;
	color: white;
	list-style: none;
	padding-top: 4rem;
}

.showMenu {
	transform: translateX(0);
}

#main-logo {
	width: 100px;
	height: 100px;
	background-color: darkgray;
	position: absolute;
	top: 25px;
	left: 70px;
	right: 10px;
	bottom: 25px;
}

#main-logo > div {
	width: 30px;
	height: 30px;
	position: relative;
	background-color: white;
}

#pink-star {
	top: 15px;
	right: 20px;
}

#blue-star {
	top: 25px;
	left: 90px;
}

#main-logo:hover #pink-star {
	animation: change-color 2.5s infinite;
	background-color: #f290e8;
}

#main-logo:hover #blue-star {
	animation: change-color 4s infinite;
	background-color: #38b3d1;
}

@keyframes change-color {
	50% {
		background-color: white;
	}
}

#menu-bars {
	display: flex;
	width: 100vw;
	justify-content: flex-end;
}

header {
	padding-top: 40px;
	background-color: var(--lightBeige);
	height: 546px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero-img {
	width: 1143px;
	height: 179px;
}

#hero-txt {
	font-size: 28px;
	text-align: center;
	padding-bottom: 40px;
}

.btn {
	width: 462px;
	height: 84px;
	border-radius: 50px;
	border-color: #000000;
	background: #0568fd;
	color: white;
	font-size: xx-large;
	font-weight: bold;
	line-height: 1;
}

#btn-box {
	text-align: center;
}

.btn {
	transition: transform 250ms;
	transition: box-shadow;
}

.btn:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px black;
}

.a-lot-of-text {
	display: flex;
	height: 1773px;
	background-color: #6c64ce;
	text-align: center;
}

#random-imgs {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

#random-imgs .fa-star {
	color: #f290e8;
	font-size: 60px;
	padding: 20px 250px 0 20px;
	-webkit-text-stroke: 2px black;
	text-shadow: 0px 10px black;
}

#random-imgs #fastar {
	color: #b8b2f2;
	font-size: 60px;
	padding: 30px 40px 0 20px;
	-webkit-text-stroke: 2px black;
	text-shadow: 0px 10px black;
}

.small-icon {
	height: 70px;
	width: 70px;
	padding: 30px;
	background-color: #6c64ce;
}

.medium-icon {
	height: 200px;
	width: 200px;
}

.a-lot-of-text p {
	text-align: center;
	font-size: 80px;
	color: white;
	margin-top: 150px;
}

.map-icon {
	height: 400px;
	width: 400px;
	padding: 700px 30px 20px 0;
}
ticker {
	display: flex;
	align-items: center;
	font-size: 68px;
	color: var(--white);
}

ticker p {
	padding: 20px;
.ticker-styling {
	height: 80px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	background-color: #000000;
	color: #ffffff;
}

.ticker-styling p {
	position: relative;
	font-size: xx-large;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	margin: 0;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 15s linear infinite;
}
@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.accordion-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 158px;
	background-color: var(--lightPurple);
	padding: 0 40px;
	font-size: 78px;
	font-weight: 100;
	border: 2px solid black;
}

.accordion-body {
	display: flex;
	justify-content: space-between;
	height: 500px;
	background-color: var(--lightBeige);
	padding: 40px 0 40px 40px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 80px;
}

.hidden {
	display: none;
}

.upside-down {
	transform: rotate(180deg);
	color: white;
	-webkit-text-stroke: 2px black;
}

.accordion-container img {
	height: 300px;
	width: 300px;
	padding: 20px;
}

#speaker-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background-color: var(--turquoise);
	color: var(--white);
	text-shadow: 0px 20px black;
	-webkit-text-stroke: 2px black;
	border: 2px solid black;
}

#speaker-container .fa-star {
	font-size: 90px;
	padding: 0 20px 0 20px;
}

#speaker-cards-gallery {
	height: 1650px;
	background-color: var(--lightBeige);
}

.speaker-card {
	display: inline-block;
	height: 550px;
	width: 450px;
	/* background-color: pink; for testing*/
}

.speaker-card img {
	height: 430px;
	width: 430px;
	margin: 60px 0 20px 20px;
	border-radius: 25px;
	object-fit: cover;
	border: 2px solid black;
}

#zoomBOut {
	height: 430px;
	width: 430px;
	margin: 60px 0 20px 20px;
	overflow: hidden;
	border-radius: 25px;
	border: 2px solid black;
}

#zoomBIn {
	width: 100%;
	height: 100%;
	transition: transform ease 0.3s;
	background-position: center;
	background-size: cover;
}

#zoomBIn:hover {
	transform: scale(1.2);
}

.profile-name {
	padding: 6px 0 0 20px;
	font-size: 2rem;
	font-weight: bolder;
}

.profile-info {
	padding: 10px 0 10px 20px;
}

#faq-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	height: 300px;
	background-color: var(--pink);
	color: var(--white);
	text-shadow: 0px 20px black;
	-webkit-text-stroke: 2px black;
	border: 2px solid black;
}

#faq-container .fa-star {
	font-size: 90px;
	padding: 0 20px 0 20px;
}

.accordion-faq-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 158px;
	background-color: var(--lightBeige);
	padding: 0 40px;
	font-size: 78px;
	font-weight: 100;
	/* border-bottom: 2px solid black; */
}

.accordion-faq-body {
	display: none;
	height: auto;
	background-color: var(--lightBeige);
	padding: 40px 0 40px 40px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 25px;
}

.accordion-faq-body p {
	display: flex;
	justify-content: space-around;
	padding: 40px 0 40px 40px;
	background-color: var(--lightBeige);
	border-bottom: 2px solid black;
}

.unhidden {
	display: contents;
}

footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 119px;
	width: 100%;
	background-color: black;
	color: white;
}

#copyright {
	font-size: x-large;
	margin-left: 20px;
}

#social-media {
	display: flex;
	justify-content: space-around;
}
.social-circle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 999px;
	margin: 0 10px;
}

#social-circle-linkedin {
	background-color: #6c64ce;
}

#social-circle-twitter {
	background-color: #f290e8;
}

#social-circle-instagram {
	background-color: #38b3d1;
}
