* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--lightBeige: #fff7f0;
	--blue: #0568fd;
	--purple: #6c64ce;
	--lightPurple: #b8b2f2;
	--turquoise: #38b3d1;
	--pink: #f290e8;
	--lightPink: #fac8f5;
	--black: #000000;
	--white: #ffffff;
}

ticker {
	/* background-color: #000000; */
	font-size: 68px;
	color: #ffffff;
}
